.sumary {
    padding: 20px 10rem;
    margin: 10px;

}

.comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}


.comment_header_left {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.comment_header_left_time {
    color: gray;
    padding-left: 20px;
}

.comment_btn {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}